

@media only screen and (max-width: 1200px) {
	
}


@media only screen and (max-width: 992px) {
	
}


@media only screen and (max-width: 768px) {
	.logo img{
		width: 100%;
	}
	.sdg-hide{
		display: none;
	}
	.sdg-nav-link{
		padding: 6px;
	}
	.sdg-icon{
		width: 32%;
		margin: 3px;
	}
}
@media only screen and (max-width: 576px) {
	.logo img{
		width: 100%;
	}
	.sdg-hide{
		display: none;
	}
	.sdg-nav-link{
		padding: 6px;
		display: block;
	}
	.sdg-icon{
		width: 30%;
		margin: 4px;
	}
}





