*{margin: 0; padding: 0;}

.border{
	border: 1px solid #dddddd;
}
.sdg-navbar{
	padding: 0 auto;
	box-sizing: border-box;
}
.sdg-navbar-nav{
	background-color: #0092B9;
}
.navbar-light .navbar-nav .nav-link{
 	color: #fff;
 	text-transform: uppercase;
}
.navbar-light .navbar-nav .nav-link:hover{
	background-color: #4D4D4D;
	color: #fff;
	//border-bottom: 1px solid #F9AF56;
}
.sdg-center{
}
.logo img{
	width: 70%;
}

.nav-menu{}
.nav-menu ul{
	margin: 15px auto;
}
.nav-menu ul li{
	float: left;
	list-style: none;
}
.nav-menu ul li a{
	text-decoration: none;
	background-color: #eee;
	width: 35px;
	height: 35px;
	padding: 4px 11px;
	display: block;
	border-radius: 50px;
	margin: 0 5px;
	color: #fff;
}
.nav-menu ul li a:hover{
	background-color: #4F91CD;
	color: #fff;
}
.nav-menu ul li a i{}

@media (min-width: 576px) {
	
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
	.sdg-center{
		text-align: center;
	}
	.sdg-hide{
		display: none;
	}
	.sdg-navbar-nav{
		background-color: #0092B9;
	}
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
	
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
	
}