*{margin: 0; padding: 0;}
body{
	background-color: #ECECEC;
}
.border{
	border: 1px solid #dddddd;
}

/*header area starts*/
.header-wrapper{
	//height: 70px;
	padding: 20px 0;
	background-color: #fff;
}
.header-area{
}
.logo{}
.logo img{
	width: 60%;
}

.nav-menu{}
.nav-menu ul{
	margin: 15px auto;
}
.nav-menu ul li{
	float: left;
	list-style: none;
}
.nav-menu ul li a{
	text-decoration: none;
	background-color: #eee;
	width: 35px;
	height: 35px;
	padding: 4px 11px;
	display: block;
	border-radius: 50px;
	margin: 0 5px;
	color: #fff;
}
.nav-menu ul li a:hover{
	background-color: #4F91CD;
	color: #fff;
}
.nav-menu ul li a i{}
/*header area ends*/


/* banner area starts */
.banner-wrapper{
	height: 200px;
	margin: 5px 0;
}
.banner-area{
	background-color: #CCE5FF;
	height: 200px;
	width: 100%;
}
.banner-area img{
	width: 100%;
}

/* banner area ends */


/* floating wrapper starts */
.floating-wrapper{
	padding: 5px 0;
}
.sdg-floating{
	border: 0;
	border-radius: 0;
	display: block;
	color: #EF402B;
	font-weight: bold;
}
.marquee {
	//width: 300px;
	overflow: hidden;
	//border: 1px solid #ccc;
	background: #fff;
}
/* floating wrapper ends */


/* sdg icons area starts */

.sdg-icons-wrapper{
	//margin: 5px;
}
.sdg-icon-area{
	box-sizing: border-box;
}
.sdg-icon{
	width: 15.9%;
	float: left;
	margin: 4px;
}
.sdg-icon a img{
	width: 100%;
	margin: 0 auto;
}

/* sdg icons area ends */


/* footer area starts */

.footer-wrapper{
	background-color: #0092B9;
}
.footer-area{
	padding: 35px 25px;
	width: 100%;
}
.sec-1{}
.sec-1 p{
	text-transform: uppercase;
	font-size: 14px;
	color: #fff;
	font-weight: bold;
}
.sec-1 ul{
	margin-left: 35px;
}
.sec-1 ul li{
	list-style: square;
	color: #f2f2f2;
}
.sec-1 ul li a{
	color: #f2f2f2;
	padding: 0 10px;
	font-size: 14px;
}
.sec-1 span{
	color: #f2f2f2;
}

/* footer area ends */
